---
layout:    home
title:     YoungInnovations Blog
excerpt:   "Journals from people at YoungInnovations"
blogfeed:  true
---

{% for post in paginator.posts %}
<article>
    {% if post.image.feature %}
    <div class="image-wrap">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img class="svg" src={% if post.image.feature contains 'http' %}
        "{{ post.image.feature }}"
        {% else %}
        "{{ site.url }}/images/{{ post.image.feature }}"
        {% endif %}
        alt="{{ post.title }} feature image"></a>
        {% if post.image.credit %}
        <span class="image-credit">Photo Credit: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
        {% endif %}
    </div><!-- /.image-wrap -->
    {% endif %}
  {% if post.link %}
    <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></h2>
  {% else %}
    <div class="blog-intro">
        <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <div class="article-author-side">
            {% include _author-bio.html %}
        </div>
        <div class="post-desc">
            {{ post.excerpt }}
        </div>
        <a class="continue" href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">Continue reading</a>
    </div>
  {% endif %}
</article>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
	<ul>
{% if paginator.previous_page %}
		<li class="prev"><a href="/{% if paginator.previous_page != 1 %}page{{ paginator.previous_page }}{% endif %}">Previous</a></li>
{% endif %}
		<li><a {% if paginator.page == 1 %}class="active" {% endif %}href="/">1</a></li>
{% for count in (2..paginator.total_pages) %}
		<li><a {% if paginator.page == count %}class="active" {% endif %}href="/page{{ count }}">{{ count }}</a></li>
{% endfor %}
{% if paginator.next_page %}
		<li class="next"><a href="/page{{ paginator.next_page }}">Next</a></li>
{% endif %}
	</ul>
</div>
{% endif %} 