/* ==========================================================================
   Page layout
   ========================================================================== */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: $bodycolor;
	font-family: $base-font;
	color: $text-color;
}

.fixed {
	left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

a {
	color: $text-link-color;
}

a:hover,a:focus,a:visited {
	color: #FB5F13;
}

a:focus {
	outline: 0;
}

/*
   Header
   ========================================================================== */

.navigation-wrapper {
	@include container;
	padding: 24px 0;
	font-family: $heading-font;
	font-weight: 700;
	text-transform: uppercase;
	@include clearfix;
}

/* Site name */
.site-name {
	@include grid(12,10);
	@include prefix(12,1);
	@include suffix(12,1);
	margin-bottom: 1em;
	float: none;
	display: block;
	@include font-rem(24);
	@media #{$small} {
		@include grid(12,2);
		@include prefix(12,0.5);
		@include suffix(12,0.5);
		@include font-rem(13);
	}
	@media #{$x-large} {
		@include grid(12,1.5);
		@include prefix(12,2);
	}
}

/* Top navigation links */
.top-navigation {
	@include grid(12,10);
	@include prefix(12,1);
	@include suffix(12,1);
	margin-bottom: 1em;
	float: none;
	display: block;
	@media #{$small} {
		@include grid(12,9);
		@include prefix(12,0);
		@include suffix(12,0);
	}
	@media #{$x-large} {
		@include grid(12,8);
	}
	ul {
		margin: 0;
		padding: 0;
		clear: both;
		list-style-type: none;
	}
	li {
		display: block;
		list-style-type: none;
		border-bottom: 1px solid lighten($black,80);
		border-bottom: 1px solid fade($black,10);
		font-weight: normal;
		@include font-rem(13);
		&:last-child {
			border-bottom: 0 solid transparent;
		}
		@media #{$small} {
			display: inline;
			margin-right: 25px;
			white-space: nowrap;
			border-bottom: 0 solid transparent;
		}
		a {
			display: block;
			padding: 10px 0;
			decoration: none;
			border-bottom: 0 solid transparent;
			@include transition(all .2s);
			@media #{$small} {
				display: inline;
				padding: 0;
			}
		}
	}
}

/* Animated lines for mobile nav button */
$button-size: 1.5rem;
@mixin navicon-line() {
	display: inline-block;
	width: $button-size;
	height: $button-size/7;
	// line color
	background: $white;
	border-radius: $button-size/14;
	transition: .3s;
}
.navicon-lines-button {
	padding: $button-size/4 $button-size/2;
	transition: .3s;
	cursor: pointer;
	user-select: none;
	border-radius: $button-size/7;
}
.navicon-lines-button:hover {
	opacity: 1;
}
.navicon-lines-button:active {
	transition: 0;
}
.navicon-lines {
	margin-right: 10px;
	margin-bottom: $button-size/5;
	// create middle line
	@include navicon-line;
	position: relative;
	// create the upper and lower lines as pseudo-elements of the middle line
	&:before,
	&:after {
		@include navicon-line;
		position: absolute;
		left: 0;
		content: '';
		-moz-transform-origin: $button-size/14 center;
		-webkit-transform-origin: $button-size/14 center;
		transform-origin: $button-size/14 center;
	}
	&:before { top: $button-size/4; }
	&:after { top: -$button-size/4; }
}
.navicon-lines-button:hover {
	opacity: 1;
	.navicon-lines {
		&:before { top: $button-size/3.5; }
		&:after { top: -$button-size/3.5; }
	}
}
.navicon-lines-button.x.active .navicon-lines {
	// hide the middle line
	background: transparent;
	// overlap the lines by setting both their top values to 0
	&:before,
	&:after {
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		top: 0;
		width: $button-size;
	}
	// rotate the lines to form the x shape
	&:before {
		-webkit-transform: rotate3d(0,0,1,45deg);
		transform: rotate3d(0,0,1,45deg);
	}
	&:after {
		-webkit-transform: rotate3d(0,0,1,-45deg);
		transform: rotate3d(0,0,1,-45deg);
	}
}
// Style the toggle menu link and hide it
.nav .navtoogle {
	@include font-rem(18);
	font-weight: normal;
	background-color: $black;
	color: $white;
	border: none;
	cursor: pointer;
	@media #{$small} {
		display: none;
	}
}
.nav button {
	border: none;
	background: none;
}
.navtoogle i {
	z-index:-1;
}
.icon-menu {
	position: relative;
	top: 3px;
	line-height: 0;
}
// When JavaScript is disabled, we hide the toggle button
.no-js .nav .navtoggle {
	display: none;
}
// When JavaScript is disabled, we show the menu
.no-js .nav ul {
	max-height: 30em;
	overflow: hidden;
}
// When JavaScript is enabled, we hide the menu
.js .nav ul {
	max-height: 0;
	overflow: hidden;
	@media #{$small} {
		max-height: 30em;
	}
}
// Displaying the menu when the user has clicked on the button
.js .nav .active + ul {
	max-height: 30em;
	overflow: hidden;
	-webkit-transition: max-height .4s;
	-moz-transition: max-height .4s;
	-o-transition: max-height .4s;
	-ms-transition: max-height .4s;
	transition: max-height .4s;
}

/* Main content */
#main {
	counter-reset: captions;
	@include container;
	@include clearfix;
	clear: both;
	margin-top: 2em;
	h1 {
		margin-top: 0;
	    border-bottom: 1px solid #f2f2f2;
	    margin-bottom: 20px;
	    padding-bottom: 20px;
	}
	.post,
	.page {
		width: 100%;
	}
}

/* Index listing specific styling */
#index {
	@include container;
	@include grid(12,10);
	@include prefix(12,1);
	@include suffix(12,1);
	margin-bottom: 2em;
	@media #{$small} {
		@include grid(12,6);
		@include prefix(12,0);
		@include suffix(12,0);
	}
	@media #{$x-large} {
		@include grid(12,4.5);
	}
	h3 {
		margin: 0;
		padding-bottom: .5em;
		@include font-rem(28);
		border-bottom: 1px solid lighten($black,70);
	}
	article {
		margin-bottom: 34px;
		border-bottom: 1px solid #c4c4c4;
		h2 {
			margin-bottom: 8px;
			@include font-rem(16);
			&.link-post {
				margin-bottom: 0px + $doc-line-height;
				margin-bottom: 0rem + ($doc-line-height / $doc-font-size);
			}
			+p:empty {display: none;}
		}
		h4 {
			font-size: 16px;
			margin: 14px 0 10px;
			font-weight: 600;
			+p {
				margin-top: 20px;
			}
		}
		p {
			@include font-rem(14);
			line-height: 22px;
		}
		p+p {
			text-indent: 0;
			margin-top: 0;
		}
	}
}

/* Large feature header image */
.image-wrap {
	position: relative;
	margin-bottom: 2em;
	@include clearfix;
	&:after {
		content: " ";
		display: block;
		position: absolute;
		bottom: 0;
		left: 8%;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-bottom-color: $bodycolor;
		@media #{$small} {
			left: 25%;
		}
		@media #{$large} {
			border-width: 20px;
		}
		@media #{$x-large} {
			left: 33.333333333%;
		}
	}
	img {
		width: 100%;
		height: auto;
		-ms-interpolation-mode: bicubic;
	}
	.headline-wrap {
		position: absolute;
		bottom: 25px;
		@include prefix(12,1);
		@media #{$small} {
			left: 25%;
			margin-left: 0;
		}
		@media #{$x-large} {
			@include prefix(12,1);
		}
		h1, h2 {
			color: $white;
			@include text-shadow(0 1px 2px rgba(0,0,0,.25));
		}
	}
}

/* Post byline */
.byline {
	clear: both;
	font-size: 80%;
}
.article-author-side,
.article-author-bottom {
	h3 {
		@include font-rem(18);
		margin-bottom: 0;
	}
	p {
		font-size: 80%;
		font-style: italic;
	}
	a, a:hover {
		border-bottom: 0 solid transparent;
	}
}

/* Default social media links in author sidebar */
.author-social {
  display: block;
  margin-bottom: 5px;
  @include font-rem(14);
  color: $black;
  &:visited {
    color: $black;
  }
  &:hover {
    @include scale(1.1);
  }
  &:active {
    @include translate(0, 2px);
  }
  .fa {
		margin-right: 5px;
	}
}

/* Author sidebar */
.article-author-side {
	.bio-photo {
		max-width: 110px;
		@include rounded(150px);
	}
	@media #{$small} {
		display: block;
		@include grid(12,2);
		@include prefix(12,0.5);
		@include suffix(12,0.5);
		h3,
		p,
		.author-social {
			display: block;
			max-width: 125px;
		}
		h3 {
			margin-top: 10px;
			margin-bottom: 10px;
			max-width: 80%;
		}
		p {
			margin-bottom: 20px;
		}
		.author-social {
			margin-bottom: 5px;
		}
	}
	@media #{$large} {
		.bio-photo,
		p,
		.author-social {
			max-width: 150px;
		}
	}
	@media #{$x-large} {
		@include grid(12,1.5);
		@include prefix(12,2);
	}
}

/* Author module - mobile only */
.article-author-bottom {
	margin-bottom: 1em;
	@media #{$small} {
		display: none;
	}
	.bio-photo {
		float: left;
		margin-right: 25px;
		max-width: 100px;
		@include rounded(150px);
	}
	.author-social {
		display: inline-block;
		margin-right: 10px;
	}
	@media #{$large} {
		h3,
		.bio-photo,
		p,
		.author-social {
			max-width: 150px;
		}
	}
}

/* Post content wrapper */
.article-wrap {
	// Dotted line underlines for links
	> ul {
		padding-left: 20px
	}
	p {
		margin: 0 0 20px;
		padding-bottom: 10px;
		+p {
			text-indent: inherit;
		}
	}
<<<<<<< HEAD
	h3 {
		color: rgba(64,64,64,0.7);
=======
	.links-list {
		color: #FB5F13;
	}
	h3,h4 {
		color: $link-transparent-color;
>>>>>>> theming of blog
	}
	h4 {
		font-size: 16px;
		margin: 14px 0 10px;
		font-weight: 600;
		+p {
			margin-top: 20px;
		}
	}
	blockquote p {
		margin-bottom: 0;
	}
}

/* Table of contents */
.toc {
	font-size: 95%;
	@media #{$large} {
		display: block;
		@include grid(12,2);
		@include prefix(12,0.5);
		@include suffix(12,0.5);
		position: absolute;
		top: 5.5em;
		right: 0;
		background-color: $white;
	}
	header {
		background: lighten($black, 10);
	}
	h3 {
		margin: 0;
		padding: 5px 10px;
		color: $white;
		@include font-rem(16);
		text-transform: uppercase;
		&:hover {
			cursor: pointer;
		}
	}
	ul {
		margin: 2px 0 0;
		padding: 0;
		line-height: 1;
	}
	li {
		display: block;
		margin: 0 0 1px 0;
		padding: 0;
		font-family: $heading-font;
		list-style-type: none;
		&:last-child {
			border-bottom-width: 0;
		}
		a {
			padding: 10px;
			display: block;
			color: $white;
			text-decoration: none;
			background: lighten($black, 30);
			@include opacity(0.7);
			@include transition(opacity 0.2s ease-in-out);
			&:hover {
				@include opacity(1);
			}
		}
		ul {
			margin: 1px 0 0;
			li a {
				padding-left: 20px;
			}
		}
	}
}

/* TOC trigger for collapsing */
#drawer {
	max-height: 100%;
	overflow: hidden;
	&.js-hidden {
		max-height: 0;
	}
}

/* Image grid - not used */
.image-grid {
	@include clearfix;
	list-style: none;
	margin: 0 0 1em;
	padding: 0;
	li {
		@include grid(12,6);
		@media #{$micro} {
			width: 33.333333%;
		}
		@media #{$small} {
			width: 25%;
		}
		@media #{$medium} {
			width: 20%;
		}
		@media #{$large} {
			width: 16.666666666%;
		}
	}
}

/* Recent grid - not used */
.recent-grid {
	@include clearfix;
	list-style: none;
	margin: 1em 0;
	li {
		display: inline;
		a {
			border-bottom: 0 solid transparent;
			&:hover {
				border-bottom: 0 solid transparent;
			}
		}
	}
	img {
		width: 19%;
		margin-bottom: 1%;
	}
}

/* Social sharing links */
/* Social media brand buttons */
.social-share {
  margin-bottom: 0px + $doc-line-height;
  margin-bottom: 0rem + ($doc-line-height / $doc-font-size);
  ul, li {
  	margin: 0;
  	padding: 0;
  	list-style: none;
  }
  li {
  	display: inline-block;
  }
  $social:
  (facebook, $facebook-color),
  (flickr, $flickr-color),
  (foursquare, $foursquare-color),
  (google-plus, $google-plus-color),
  (instagram, $instagram-color),
  (linkedin, $linkedin-color),
  (pinterest, $pinterest-color),
  (rss, $rss-color),
  (tumblr, $tumblr-color),
  (twitter, $twitter-color),
  (vimeo, $vimeo-color),
  (youtube, $youtube-color);
  @each $socialnetwork, $color in $social {
    .#{$socialnetwork} {
      background: $color;
    }
  }
  a {
	  display: block;
	  padding: 8px 20px;
	  text-decoration: none !important;
	  text-transform: uppercase;
	  @include font-rem(14);
	  font-family: $heading-font;
	  font-weight: 700;
	  color: $white;
	  overflow: hidden;
	}
	span {
		display: none;
		@media #{$medium} {
			display: inline;
			padding-left: 5px;
		}
	}
	h4 {
		@include font-rem(14);
		margin-bottom: 10px;
		text-transform: uppercase;
	}
}


/* Footer wrapper */
.footer-wrap {
	@include container;
	@include clearfix;
	clear: both;
	padding-bottom: 3em;
	a,
	a:active,
	a:visited,
	p,
	h4,
	h5,
	h6,
	span {
		@include font-rem(14);
	}
	footer {
		@include grid(12,10);
		@include prefix(12,1);
		@include suffix(12,1);
		@media #{$small} {
			@include grid(12,6);
			@include prefix(12,3);
			@include suffix(12,3);
		}
		@media #{$x-large} {
			@include grid(12,4.5);
			@include prefix(12,4);
			@include suffix(12,3.5);
		}
		>* {
			font-size: 13px;
			color: #666;
		}
		> span > a {
			font-size: 13px;
		}
	}
}

/* Related articles list */
.related-articles {
	@include grid(12,10);
	@include prefix(12,1);
	@include suffix(12,1);
	margin-bottom: 100px!important;
	@media #{$small} {
		@include grid(12,6);
		@include prefix(12,3);
		@include suffix(12,3);
	}
	@media #{$x-large} {
		@include grid(12,4.5);
		@include prefix(12,4);
		@include suffix(12,3.5);
	}
	h4 {
		text-transform: uppercase;
		margin-bottom: 25px;
		color: #fff;
		color: rgba(255,255,255,0.7);
	}
	ul {
		padding: 0;
	}
	li {
		margin-bottom: 28px;
		padding-bottom: 26px;
		border-bottom: 1px solid #f2f2f2;
		border-bottom: 1px solid rgba(242,242,242,0.1);
		list-style: none;
		overflow: hidden;
		a,a:hover,a:active,a:visited {
			@include font-size(16);
			color: #fff;
			color: rgba(255,255,255,0.7);
		}
		img {
			width: 43px;
			height: 43px;
			border-radius: 50%;
			display: inline-block;
			margin-right: 10px;
			vertical-align: top;
		}
		span {
			display: block;
			@include font-size(12);
			color: #fff;
			color: rgba(255,255,255,0.7);
		}
		.author-related-info {
		    display: inline-block;
		    width: 80%;
		}
	}
}


/*
   Browser upgrade alert
   ========================================================================== */

.browser-upgrade {
	background: #000;
	text-align: center;
	margin: 0 0 2em 0;
	padding: 10px;
	text-align: center;
	color: $white;
	a {
		color: $white;
		border-bottom: 1px dotted $white;
		text-decoration: none;
		&:hover {
			border-bottom: 1px solid $white;
		}
	}
}
/*
   Google search form
   ========================================================================== */

#goog-fixurl {
	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		li {
			list-style-type: none;
		}
	}
}
#goog-wm-qt {
	width: auto;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 8px 20px;
	display: inline-block;
	@include font-rem(14);
	background-color: $white;
	color: $black;
	border-width: 2px !important;
	border-style: solid !important;
	border-color: lighten($black,50);
	@include rounded(3px);
}
#goog-wm-sb {
	@extend .btn;
}

/*
   Tags
   ========================================================================== */
 .tags span {
 	color: #777;
 }

 .fluid-width-video-wrapper {
 	margin-bottom: 14px;
 }


 /* Custom page layout css */

.site-name{
  margin: 0 24px;
  a{
    background: url(/images/pages/yipl-logo.png) no-repeat 0 0;
    display: block;
    text-indent: -9999px;
    width: 192px;
    height: 45px;
  }
}
.top-navigation {
  margin-bottom: 0;
}
.trigger {
  position: absolute;
  top: 0;
  right: 24px;
  cursor: pointer;
  line-height: normal;
  z-index: 10000000;
}
.trigger-wrap {
  float: left;
  margin-top: 38px;
  border-radius: 3px;
  padding: 6px;
}
.inactive .trigger-wrap {
  background: none!important;
}
.bar {
  float: left;
  margin-top: 5px;
  span.icon-bar {
    background: #323232;
    display: block;
    width: 40px;
    height: 3px;
    border-radius: 1px;
    @include rotate(0deg);
    @include transition(all 300ms ease-in-out);
    width: 29px;
    margin-bottom: 2px;
    float: right;
    clear: both;
  }
  span.icon-bar.middle {
    width: 21px;
  }
  span.icon-bar.bottom {
    width: 15px;
  }
}
.menu {
  display: block;
  color: #333;
  font-size: 15px;
  font-weight: normal;
  text-transform: none;
  float: right;
  margin-left: 10px;
  padding-top: 1px;
}
.navigation-wrap {
  position: fixed;
  width: 0px;
  height: 0px;
  top: 400px;
  left: 50%;
  z-index: 1000000;
  margin: 0;
  background: #f0f0f0;
  opacity: 0;
  overflow-y: auto;
  clear: both;
  bottom: auto;
  .site-name {
    padding: 24px 0 20px;
    width: 100%;
    background: #fff;
    background-color: rgba(255,255,255,0.95);
    margin: 0;
  }
}
.trigger.active {
  @include transition(all 300ms ease-in-out);
  span.icon-bar {
    position: relative;
    @include transition(all 300ms ease-in-out);
    width: 20px;
  }
  span.icon-bar.top {
    @include rotate(-45deg);
    top: 4px;
  }
  span.icon-bar.middle {
    width: 0;
    height: 0;
    margin: 0 auto;
    display: none;
  }
  span.icon-bar.bottom {
    @include rotate(45deg);
    margin: 0;
  }
}
.nav ul {
  display: none;
  border-top: 1px solid #F0C0A9;
  li {
    float: left;
    width: 100%;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid rgba(51,51,51,0.2);
    border-right: 1px solid rgba(51,51,51,0.2);
    position: relative;
    -webkit-animation: bounceInLeft 1s;
    -moz-animation: bounceInLeft 1s;
    animation: bounceInLeft 1s;
    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 0.5s;
      opacity: 0;
    }
    a{
      font-size: 39px;
      font-size: 2.167rem;
      line-height: 2.9576;
      color: #333;
      text-transform: none;
      font-weight: 300;
      display: block;
      padding: 0 16px;
      width: 100%;
      @include box-sizing(border-box);
      &:hover {
        background: #eee !important;
      }
      span {
        color: #c2c2c2;
      }
    }
  }
}
#site-nav {
	background: #fff;
	background: rgba(255,255,255,0.95);
	display: inline-block;
	width: 100%;
}
#site-nav li:last-child {
  border-bottom: 1px solid #eee;
  border-bottom: 1px solid rgba(51,51,51,0.2);
  width: 100%;
}
.home #main{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 4em;
  position: static;
  #index{
    width: 100%;
    article{
      .image-wrap{
        position: static;
        img{
          object-fit: contain;
        }
        &:after{
          display: none;
        }
      }
      h2{
        margin-bottom: 20px;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 15px;
      }
    }
  }
}

.home #index article {
    margin-bottom: 64px;
    background: url(/images/pages/separator.png) no-repeat bottom;
    padding-bottom: 65px;
}

.post-top-wrap {
	padding: 60px 0 26px;
}

.article-author-side {
	width: 100%;
	margin: 0;
	display: block;
	float: none;
	> div {
	  overflow: hidden;
	  img.bio-photo {
	    max-width: 50px;
	    height: 50px;
	    float: left;
	    margin-right: 10px;
	    @include rounded(50%);
	  }
	  .author-info {
	    float: left;
	    width: 50%;
	    h4 {
	      margin: 5px 0 2px;
	      font-size: 14px;
	      font-weight: bold;
	    }
	    p {
	      font-style: normal;
	      margin: 0;
	      font-size: 12px;
	      max-width: 100%;
	      color: rgba(51,51,51,0.7);
	    }
	  }
	  .modified-date{
	  	float: right;
	    p{
	      margin: 0;
	      color: rgba(51,51,51,0.3);
	      font-style: normal;
	      @include font-size(14);
	      margin-top: 2px;
	    }
	  }
	  .author-social-links {
	    display: none;
	  }
	}
}

.post-desc p{
margin: 30px 0 10px;
color: rgba(51,51,51,0.69);
font-size: 14px;
> a {
	color: $text-link-color;
}
}
a.continue{
color: #f16622;
&:hover{
 color: #E55B18;
}
}

.footer-wrap{
  background: #333;
  margin: 0 auto;
  width: 100%;
  padding: 30px 0;
  footer{
    width: 100%;
    margin: 0;
    span{
      max-width: 80%;
      margin: 25px auto;
      display: block;
      color:
      rgba(255, 255, 255, 0.7);
    }
  }
}

/* Keyframes */

@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
  }
  to {
  	opacity: 1;
    -webkit-transform: none;
  }
}


@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
  	opacity: 1;
    transform: none;
  }
}


.post {
	#main {
		margin-top: 0;
	}
	.headline-wrap,.article-author-side,.article-wrap {
		padding: 0 26px;
	}
	.image-wrap {
		margin-bottom: 56px;
		&:after {
		display: none;
		}
	}
	.article-wrap {
		p {
			line-height: 24px;
		}
	}
}

iframe {
	width: 100%;
	margin-bottom: 20px!important;
}
     
iframe+div {
	@include font-size(14);
	color: $link-transparent-color;
	margin-bottom: 46px;
	>* {
		font-weight: normal;
	}
}

blockquote {
	p {
		padding: 0!important;
		margin: 0!important;
		a {
			color: rgba(241,102,34,0.7);
		}
	}
}

h1 > a,h2 > a {
	color: rgba(0,0,0,0.7);
	&:hover,&:visited,&:focus {
		color: #000;
	}
}

.tags {
	margin-bottom: 30px;
	font-size: 14px;
}

.article-author-wrap {
	text-align: center;
	margin-bottom: 50px;
	img {
		width: 120px;
		height: 120px;
		margin-bottom: 14px;
		@include rounded($radius:50%);
	}
	.author-info {
		h4 {
			@include font-size(18);
			color: $link-transparent-color;
			margin: 0;
			font-weight: bold;
		}
		p {
			@include font-size(14);
			color: $link-transparent-color;
			margin-bottom: 0
		}
	}
	.modified-date {
		display: none;
	}
}

.author-social-links {
	margin-bottom: 20px;
	.author-twitter {
		background: url(/images/pages/ic-twitter.png) no-repeat center;
	}
	.author-github {
		background: url(/images/pages/ic-github.png) no-repeat center;
	}
	a {
		display: inline-block;
		text-indent: -9999px;
		width: 32px;
		height: 32px;
		background-color: #ccc!important;
		background-color: rgba(64,64,64,0.1)!important;
		@include rounded($radius:50%);
	}
	a+a {
		margin-left: 10px;
	}
}


@media screen and (max-width: 600px) {
  .js .nav ul{
    overflow: visible;
  }
}
@media screen and (min-width: 240px){
  .home #main{
    margin: 20px 0;
    width: 100%;
    #index {
      width: 100%;
      margin: 0;
      article{
        .blog-intro{
          padding: 0 26px;
          >a {
          	@include font-rem(14);
          }
        }
        .article-author-side>div .modified-date {
          float: right;
        }
      }
    }
  }
}
@media screen and (min-width: 480px){
	.article-author-side>div .modified-date {
	  float: right;
	  width: auto;
	  p{
	    font-size: 14px;
	    margin-top: 8px;
	  }
	}
}

@media screen and (min-width: 600px){
  .trigger {
    top: 0;
  }
}
@media screen and (min-width: 1024px){
  .home #main {
    margin-left: auto;
    margin-right: auto;
    width: 768px;
    margin-top: 30px;
    position: static;
    #index {
      article .blog-intro{
        padding: 0;
      }
    }
  }

  #index article h2 {
  	@include font-rem(22);
  }

  .post {
	.headline-wrap,.article-author-side,.article-wrap {
		max-width: 768px;
		margin: 0 auto;
		padding: 0;
	}
	}

	.footer-wrap footer,.related-articles {
		width: 768px;
		margin: 0 auto;
		float: none;
		display: block;
	}

	.footer-wrap footer span {
		max-width: 100%;
	}

	.article-author-wrap img {
		width: 222px;
		height: 222px;
	}

	.related-articles li {
		img {
			width: 120px;
			height: 120px;
		}
		.author-related-info {
			margin-top: 14px;
		}
	}

	
}

.top-wrap {
	 -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#main .fixed-top-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 1;
	-webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
	transition: top 0.5s ease;
	top: -100%;
	@include box-shadow($shadow: 0 2px 4px rgba(0,0,0,.2));
	.post-link-wrap {
		max-width: 768px;
		margin: 0 auto;
		padding: 12px 24px;
		overflow: hidden;
		.headline-wrap {
			display: inline-block;
			vertical-align: middle;
			width: 75%;
			padding: 0;
			margin-top: 2px;
			max-height: 40px;
			overflow: hidden;
			h1 {
				font-size: 14px;
				border-bottom: 0;
				margin: 0;
				padding: 0;
				line-height: 20px;
				font-weight: bold;
				text-overflow: ellipsis;
				max-height: 40px;
			    display: -webkit-box;
			    -webkit-line-clamp: 2;
			    -webkit-box-orient: vertical;
			    display: -moz-box;
			    -moz-line-clamp: 2;
			    -moz-box-orient: vertical;
			}
		}
		.post-author-section {
			display: inline-block;
			img {
				width: 43px;
				height: 43px;
				@include rounded(50%);
				margin-right: 20px;
			}

		}
	}
}

#main .top-wrap-show .fixed-top-wrap {
	-webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    top: 0;
}

.social-share {
	position: relative;
    display: inline-block;
    width: 100%;
    margin: 10px 0 50px;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.social-share-menu {
  @extend .absolute-center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255,255,255, 0.15);
    opacity: 0;
    z-index: -10;
    cursor: pointer;
    transition: opacity 1s, z-index 0.3s, transform 1s;
    transform: translateX(0);
    color: transparent;
	border: 0!important;
    .social-icon {
      @extend .absolute-center;
      font-size: 3em;
      transition: color 0.3s;
    }

    &.share-trigger {
      opacity: 1;
      z-index: 100;
      cursor: pointer;
      transition: transform 0.3s;
      background: url(/images/social-icons/ic-share-sprite.png) no-repeat 0 0;
      border: 0;
      border-radius: 0;
      
      &:hover {
        background-position: -97px 0;
      }
    }
  }

  .rotater {
    position: absolute;
    top: -14px;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 50% 8%;
  }

  &.active {
    
    .btn-icon {
      opacity: 1;
      z-index: 50;
    }
    
    .share-trigger {
    	background-position: -97px 0;
    }
  }
}

@for $i from 1 through 3 {
  .rotater:nth-child(#{$i}) {
    transform: rotate(-60deg + 60deg * ($i - 1));
  }

  .social-share-menu.active {
    .rotater:nth-child(#{$i}) .btn-icon {
      transform: translateY(-80px) rotate(60deg - 60deg * ($i - 1)); 
    }
  }
}

.share-text {
  	font-size: 14px;
  	color: #333;
  	padding-top: 78px;
  	text-align: center;
}

.pagination {
	margin-bottom: 40px; 
	ul {
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			list-style: none;
			display: inline-block;
			a {
				font-size: 12px;
				color: #404040;
				min-width: 24px;
				line-height: 24px;
				display: block;
				text-align: center; 
				&:hover {
					text-decoration: underline;
				}
			}
			a.active {
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				background: #404040;
				color: #fff;
				text-decoration: none;
				pointer-events: none;
			}
		}
	}
}

.navigation-footer {
	text-align: center;
	position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 70%;
	p {
		@include font-size(12);
		color: rgba(0,0,0,0.7);
		font-weight: normal;
	}
}
